<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProCancer-I AAI</title>
    {% block scripts %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="/static/css/styles.css">
    {% endblock %}
</head>
<body>
    <div class="content">
        {% block header %}
            <header>
                <div class="container" id="nav">
                    <div id="logo">
                        <a href="https://www.procancer-i.eu/"><img src="/static/images/logo.png" alt="" srcset=""></a>
                    </div>
                    <div id="more">
                        {% if user %}
                            <a href="/profile" style="display: flex;justify-content: center;" class="profBtn">
                                <svg xmlns="http://www.w3.org/2000/svg" class="user icon" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" /></svg>
                                <span class="username">{{user.name}}</span>
                            </a>
                            {% if user.is_admin %}
                                <a href="/users" class="btn">Users</a>
                            {% endif %}
                            <a href="/access_token" class="btn">Tokens</a>
                            <a href="/logout" class="btn">Logout</a>
                        {% else %}
                            <a href="/login" class="btn">Sign In</a>
                        {% endif %}
                    </div>
                </div>
            </header>
        {% endblock %}
        {% block body %}{% endblock %}
    </div>

    {% block footer %}
    <footer>
        <div class="container">
            <div class="links">
                <a href="https://www.forth.gr/_gfx/pdf/ConditionofUseITE_EN.pdf">Conditions of Use</a>
                <a href="https://www.forth.gr/_gfx/pdf/PrivacyPolicy_EN.pdf">Privacy Policy</a>
            </div>
        </div>
    </footer>
    {% endblock %}
</body>
</html>
