{% extends "home.njk" %}

{% block stylesheets %}
    {{ super() }}
    <style>
        .elixirbtns { 
            display: flex;
            gap: 15px;
            justify-content: center;
        }
    </style>
{% endblock %}

{% block body%}
   {{super()}}
    <div id="loginContent">
        <main class="container py-4">
            <p>
                We are using the <a href="https://lifescience-ri.eu/ls-login/">Life Science AAI</a> for single sign-on 
                for our users. Please click the button below to login or register with the LS AAI:
            </p>
            <div class="elixirbtns">
                <a class="elixirbtn" href="/dologin">
                    <img src="/static/images/LS-login-grey-wide.png" width="250" height="auto" />
                </a>
            </div>
        </main>
    </div>
{% endblock %}        
