{% extends "base.njk" %}
{% block scripts %}
    {{super()}}
    <!-- created by https://www.srihash.org/ -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js" integrity="sha384-ficRBwtap/VLzILv81vIvgp30PoJYnlCm96tPpNYHXAf+h9SIThOZxxIzRUzbpAh" crossorigin="anonymous"></script>
{% endblock %}

{% block stylesheets %} 
{{super()}}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" integrity="sha384-yT2pwyD9a3Oee/HtjWTccnRmchDWH2EDHjzH7gwf8yAK0RilKFL164FCHX9fzlxh" crossorigin="anonymous">
<style>
    main {
        padding: 5em 0;
    }
    tr.user.changed {
        background-color: var(--color-bg-changed) !important;
    }
    #savebtn {
        margin: 1em;
        padding: 1em;
        background-color:  var(--color-bg-changed);
        top: 1em;
        right: 1em;
        z-index: 100;
        position: fixed;
        display:  none;
        border-radius: .375rem;
        border:  2px solid rgba(246, 46, 46, 1);
        cursor:  pointer;
    }
</style>
{% endblock %}

{% block body %}
 {{ super() }}
    <main class="container relative">
        <div id="savebtn">
            Save Changes
        </div>
        <h1 class="text-center">Users list</h1>
        <table id="users" class="hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>e-mail</th>
                    <th>Verified</th>
                    <!-- <th>Admin</th> -->
                    <th>Organization</th>
                    <th>Registration Date</th>
                </tr>
            </thead>
            <tbody>
                {% for u in users %} 
                <tr class="user">
                    <th><a href="users/{{u.uid}}">{{u.uid}}</a></th>
                    <th>{{u.name}}</th>
                    <th>{{u.email}}</th>
                    <th>
                        <select class="modField" data-uid="{{u.uid}}" name="user_verified">
                            <option value="true" {{"selected" if u.user_verified else ""}}>Yes</option>
                            <option value="false" {{"" if u.user_verified else "selected"}}>No</option>
                        </select>

                        <!-- {{ {"true": "Yes", "false": "No"}[u.user_verified] }} -->
                    </th>
                    <th>
                        <select class="modField" data-uid="{{u.uid}}" name="org_id">
                            <option value="0">-- Choose an option</option>
                            {% for o in organizations %} 
                            <option value="{{o.id}}" {{"selected" if u.org_id==o.id else ""}}>{{o.name}}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>{{u.registered_at_formatted}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <script nonce="{{cspNonce}}">
        let changes_ = {};

        document.querySelectorAll(".modField").forEach(a => a.addEventListener('change', function(evt) {
            userAttChanged(evt.target.dataset.uid, evt.target);
        }));

        function userAttChanged(uid, selectObject)
        {
            const name = selectObject.name;  
            const value = name == "org_id" ? 
                (selectObject.value == "0" ? null : parseInt(selectObject.value))
                : selectObject.value == "true";

            const tr = selectObject.closest('tr');
            tr.classList.add("changed");
            console.log(`User ${uid} att ${name} has value=${value}`);

            let newChanges = changes_[uid] || {}
            newChanges[name] = value;
            changes_[uid] = newChanges;
            $("#savebtn").show();
        }

        document.getElementById('savebtn').addEventListener('click', function saveChanges()
        {
            fetch("/users", {
                method: 'POST'
                , body: JSON.stringify(changes_)
                , headers: {
                    'Content-Type': 'application/json' 
                }
            })
            .then(response => {
                if (response.status != 200)
                    throw Error(`Server returned ${response.status}`);
                return response.json();
            })
            .then(data => {
              console.log('Success:', data);

              $("#savebtn").hide();
              changes_ = {};
              document.querySelectorAll("tr.changed").forEach(e => e.classList.remove('changed'));
            })
            .catch(error => {
              console.error('Error:', error);
            });
        });

        $(document).ready( function () {
            // From : https://datatables.net/examples/plug-ins/dom_sort.html
            /* Create an array with the values of all the select options in a column */
            $.fn.dataTable.ext.order['dom-select'] = function  ( settings, col )
            {
                return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
                    return $('select :selected', td).text();
                });
            }
            $('#users').DataTable({
                "pageLength": 50,
                "order": [[ 5, "desc" ]], 

                "columns": [
                    null,
                    null,
                    null,
                    { "orderDataType": "dom-select" },
                    { "orderDataType": "dom-select" },
                    null
                ]
            });
        });
    </script>
{% endblock %}