{% extends "base.njk" %}
{% block scripts %}
    {{super()}}
    <script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block stylesheets %} 
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
<style>
    main {
        padding: 5em 0;
    }
</style>
{% endblock %}

{% block body %}
 {{ super() }}
    <main class="container">
        <h1 class="text-center">Users list</h1>
        <table id="users">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>e-mail</th>
                    <th>Verified</th>
                    <th>Admin</th>
                    <th>Registration Date</th>
                </tr>
            </thead>
            <tbody>
                {% for u in users %} 
                <tr>
                    <th><a href="users/{{u.uid}}">{{u.uid}}</a></th>
                    <th>{{u.name}}</th>
                    <th>{{u.email}}</th>
                    <th>{{u.user_verified}}</th>
                    <th>{{u.is_admin}}</th>
                    <th>{{u.registered_at_formatted}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <script>
        $(document).ready( function () {
            $('#users').DataTable({
                "pageLength": 50
            });
        });
    </script>
{% endblock %}