/* roboto-condensed-regular - latin_greek */
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/static/fonts/roboto-condensed-v19-latin_greek-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/static/fonts/roboto-condensed-v19-latin_greek-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --color-blue: #2778aa;
    --color-accent: #2ea3f2;
    --color-header: #c4c4c4;
    --color-text: white;
    --color-bg: #161f28;
    --color-shadow: gray;
    --color-bg-changed: rgb(108, 63, 63);
}


    /* Overwite some data tables styling : */

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_length select,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper .dataTables_paginate,
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active
    {
        color: var(--color-text) !important;
        background-color: var(--color-bg) !important;
    }
    table.dataTable tbody tr {
        background-color: var(--color-bg) !important;
    }

*,*::before,*::after {
    box-sizing: border-box;
}

a, a:visited, a:active {
    color: var(--color-accent);
}

body {
    margin:0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    color: var(--color-text);
}

input , select {
    color: var(--color-text);
    background-color: var(--color-bg);
    border: 1px solid var(--color-text);
    border-radius: 3px;
    padding: 4px;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--color-text);
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.hidden {
    display: none;
}

#logo img {
    height: 3em;
}

#preamble {
    background-color: var(--color-header);

}
.big-logo {
    color:  #666;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 8px 0
}

.big-logo .descr {
    padding:12px; 
    text-align: center;
}


header {
    padding:1.2em 0;
    /*background-color: var(--color-header);
    box-shadow: 0 0 10px 1px var(--color-shadow);*/
/*    position: sticky;
    top: 0;*/
}


footer{
    height: 3rem;
    width: 100%;
}

/*
#nav {
    display: flex;
    justify-content: space-around;
    height: 3em;
}

#nav ul {
    list-style-type: none;
}

#nav li {
    display: inline-block;
    padding-left: 1em;
}
*/
.btn {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5px;
    padding:0.5em 1em;
    text-decoration: none;
    background-color: var(--color-blue);
    opacity: 0.9;
    color: white !important;
    font-weight: bold;
}
.btn:hover, .btn:active {
    opacity: 1;
    /* transform: scale(1.1) translateY(-2px); */
}

.py-4 {
    padding-right: 1rem;
    padding-left: 1rem;
}


svg.user {
    width: 1em;
    height: 1em;
}

.title {
    max-width: 50%;
    min-width: min-content;
    margin: 2em auto;
    text-align: center;
}


#loginContent main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.username {
    display: none;
}

.profBtn {
    margin:0 1em;
    font-weight: bold;
    text-decoration: none;
    position:relative;
}
nav li a {
    position:  relative;
    color:  var(--color-text) !important;
    text-decoration: none;
}
nav li a::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 7px;
    width: 0%;
    background-color: #ffffffcc;
    height: 0.2em;
    transition: 200ms ease-in;
}
nav li a:hover {
    color:  hsla(0,0%,100%,.8);
}
nav li a:hover::before {
    left: 16%;
    width: 68%;
}
/*
nav li a:hover::before {
    content: '';
    width: 100%;
    background-color: var(--color-accent);
    height: 0.2em;
    position: absolute;
    bottom: -7px;
    left:  0;

}*/


footer .links {
    display: flex;
    justify-content: center;
    padding-top:1em;
}

.links a + a::before {
    content: '|';
    padding: 0.5em;
}

header {
  overflow: hidden;
  /*background: var(--color-header);*/
}

header a, header label {
  display: block;
  padding: 20px;
  color: var(--color-text);
  text-decoration: none;
  line-height: 20px;
}

header a:hover, header label:hover { color: #aaa; }

header label {
  float: right;
  padding: 18px 20px;
  cursor: pointer;
}

header label:after {
  content: "\2261";
  font-size: 1.8em;
}

.logo {
  float: left;
  font-weight: bold;
  font-size: 1.5em;
}
  
nav {
  float: right;
  max-height: 0;
  width: 100%;
  -webkit-transition: max-height 0.3s; 
     -moz-transition: max-height 0.3s;
       -o-transition: max-height 0.3s;
          transition: max-height 0.3s;
}

nav ul {
  margin: 0;
  padding: 10px;
}
  
nav li {
  display: block;
  text-align: center;
  font-size: 1.2rem;
}
  
nav a {
  padding: 10px;
  width: 100%;
}

#mobileNav { display: none; }

#mobileNav:checked ~ nav {
  max-height: 300px; /* This can be anything bigger than your nav height. The transition duration works with this */
}

.content {
    margin: 0 0 auto 0;
}

@media only screen and (min-width: 700px) {
  
    header label { display: none; }
  
    .big-logo {
        height:  6rem;
        flex-direction: row;
    }

    .big-logo .descr {
        padding:12px 24px; 
        margin-right: 24px; 
        margin-left: 24px;
        border-left: 1px solid rgb(51, 51, 51);
    }

    .content {
        /*min-height: calc(100vh - 9rem);*/
    }
    #nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav {
        width: auto;
        max-height: none;
    }

    nav ul {
        padding: 0;
        padding-right: 10px;
    }

    nav li {
        display: inline-block;
        text-align: left;
    }

    header nav a {
        display: inline-block;
        padding: 20px 10px;
        width: auto;
    }
    
    .profBtn {
        font-size: 1.2rem;
    }
    .btn {
        font-size: 1.2rem;
    }
    .username {
        display: inline;
    }

    table.claims {font-size: 150%; }
}

.text-center {
    text-align: center;
}
